<div class="container">
    <h1 class="title">Página Principal</h1>
    <div class="products-grid">
        {{#each products}}
            <div class="product-card">
                <img class="product-image" src="{{thumbnails.[0]}}" alt="{{title}}">
                <div class="product-info">
                    <h2>{{title}}</h2>
                    <p class="price">USD {{price}}</p>
                    <p class="stock">Stock: {{stock}}</p>
                    <button class="btn-info">+ Info</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="./index.js"></script>